*{
    margin-right: 0;
    padding: 0;
}
body{
    /* background-color:#e6e6e6; */
    background-color:rgba(218, 218, 218, 0.897) !important;
}
/* --------------------------------------------------------------------------------------------------------------- */
/*                                                Nav-Bar Styles                                                   */
/* --------------------------------------------------------------------------------------------------------------- */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color:#ff8533; */
    background-color: rgb(20 165 20 / 100%);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;

}
.logo{
    font-size: 1.3rem;
    font-weight: 900;
    color: black;
    text-decoration: none;
    /* border: 2px solid red; */
}
.logo:hover{
    color: rgba(255, 255, 255, 0.979);
}
.nav-left,.nav-right{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.nav-left ul ,.nav-right ul{
    align-items: center;
}
.nav-left ul li,.nav-right ul li{
    display: inline-block;
    /* border: 2px solid red; */
    list-style: none;
    margin-top: 15px;
    padding: 0px 20px;
    /* font-size: 22px; */
    font-size: 22px;
}
.nav-left ul li a,.nav-right ul li a{
    color: white;
    margin-top: 100px;
    text-decoration: none;
    padding: 20px 5px;
}
.search-box{
    display: flex;
    align-items: center;
    background: #efefef;
    height:40px;
    width:310px;
    border-radius: 20px;
    padding: 0 15px;
}
.search-icon{
    font-size: 1.1rem;
    color:black !important;
}
.search-icon i:hover{
    color: rgb(187, 187, 180);
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.nav-user-icon img{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 60px;
}
.nav-user-icon{
    margin-left: 30px;
    margin-right: 10px;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right:0;
}

.nav-left ul li a:hover,.nav-right ul li a:hover{
    color:black;
    border-bottom: 2px solid black;
}

#page-name{
    color: rgba(255, 255, 255, 0.733);
    border-bottom: 2px solid black;
}


/* --------------------------------------------------------------------------------------------------------------- */
/*                                          Left-Side Bar Styles                                                   */
/* --------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Contrail+One&family=Josefin+Sans&display=swap');
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    margin-top: 23px;
    background: rgba(218, 218, 218, 0.897);
    border-radius: 15px;
    flex-basis: 55%;
    position: sticky;
    top: 109px;
    height: auto;
    width: 75%;
    align-self: flex-start;
}
.left-sidebar .user-description{
    /* border:3px solid blue; */
    border-radius: 15px;
    background-color: #fff;
    padding: 20px 5px;
}

.user-description h4{
    font-size: 1.4rem;
    text-align: center;
    color: green;
    margin: 10px 10px 40px 10px;
    padding: 15px 20px;
}

form div{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
form div a{
    font-size: 25px;
    text-decoration: none;
    margin-right: 20px;
}
form div button{
    /* border: 1px solid red;     */
    border: .1px solid black;
    margin-left: 20px;
    padding: 4px 12px;
    font-size: .9rem;
    border-radius: 5px;
    background-color: eff0eb;
}
form div button:hover{
    background:white;
}
.user-description form input{
    border: 1px solid black;
    width:400px;
    border-radius: 6px;
    padding: 4px;
    text-align: center;
}
input::placeholder{
    text-align: center;
    font-size: .9rem;
}

#fb i{
    color:rgb(26, 167, 248);
}
#insta i{
    color: rgb(202, 17, 119);
}
#linkedin i{
    color: rgb(18, 142, 214);
}
#twitter i{
    color: rgb(26, 167, 248);
}
#github i{
    color: black;
}

i:hover{
    transform: scale(1.3);
}
#insta i:hover{
    color: rgb(202, 17, 119);
}
#linkedin i:hover{
    color: rgb(18, 142, 214);
}
#twitter i:hover{
    color: rgb(26, 167, 248);
}
#github i:hover{
    color: black;
}




/* --------------------------------------------------------------------------------------------------------------- */
/*                                           Main-Content Styles                                                   */
/* --------------------------------------------------------------------------------------------------------------- */
.main-content{
    flex-basis: 38%;
    background-color: rgba(218, 218, 218, 0.897);
    border-radius: 15px;
}

.post-heading{
    background-color: white;
    border-radius: 10px;
    padding: 5px 25px 15px 25px;
    margin: 25px 0;
}
.main-content h5{
    font-size: 1.3rem;
    color: rgb(0, 97, 0);
}
.post-container{
    /* background-color: rgb(241, 167, 30); */
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px;
    margin: 25px 0;
}
.details{
    margin-top: 40px;
    margin-bottom: 30px;
}
.post-container form input{
    border: 1px solid black;
    width:240px;
    border-radius: 6px;
    padding: 4px;
    text-align: center;
}
